/BackOfficeApplicatie/nbproject/private/
/nbproject/
/PHP/Test1/nbproject/
/PHP/Test2/nbproject/
/PHP/Testing/nbproject/
/PHP/Testing/nbproject/*
/BackOfficeApplicatie/nbproject/
/BackOfficeApplicatie/nbproject/*

/BackOfficeApplicatie/build/