/BackOfficeApplicatie/nbproject/private/
/nbproject/

/JAVA/Test/Michiel-test/nbproject/
/JAVA/Test/Michiel-test/nbproject/*

/PHP/Testing/nbproject/
/PHP/Testing/nbproject/*
/PHP/Blah/nbproject/
/PHP/Blah/nbproject/*

/BackOfficeApplicatie/nbproject/
/BackOfficeApplicatie/nbproject/*
/BackOfficeApplicatie/build/

/PHP/Testing/newEmptyPHPWebPage.php
/PHP/Blah/nbproject/private/

/JAVA/Test/Michiel-test/nbproject/private/
/JAVA/Test/Michiel-test/build/
/JAVA/Test/nbproject/private/