/BackOfficeApplicatie/nbproject/private/
/nbproject/

/JAVA/nbproject/*
/JAVA/Test/Michiel-test/nbproject/*


/PHP/nbproject/*

/BackOfficeApplicatie/nbproject/
/BackOfficeApplicatie/nbproject/*
/BackOfficeApplicatie/build/

/PHP/Testing/newEmptyPHPWebPage.php
/PHP/Blah/nbproject/private/

/JAVA/Test/Michiel-test/nbproject/private/
/JAVA/Test/Michiel-test/build/
/JAVA/Test/nbproject/private/
/USBwebserver/root/TZT/nbproject/private/
USBwebserver/mysql/data/Twan-Laptop.err
USBwebserver/mysql/data/Twan-Laptop.pid
/JAVA/src/nbproject/private/
/JAVA/src/TZTBackOffice/nbproject/private/
/JAVA/build.xml
/JAVA/manifest.mf
/JAVA/nbbuild.xml
/JAVA/build/
/GUI_oefenen/nbproject/private/
/GUI_oefenen/build/
/GUI_oefenen/dist/
/PakketTest/nbproject/private/
/PakketInfoScreen/nbproject/private/
/JAVA/dist/
JAVA/src/TZTBackOffice/PakketInfoDialoog.java.rej
