body {
    font-family: arial;
    background-color: white;
}

h1 {
    color: red;
}

table {
    border: 1px solid black;
}

td {
    border: 1px solid black;
    text-align: center;
}

.zwart {
    background-color: black;
    color: white;
}

.wit {
    background-color: white;
    color: black;
}

.copyright {
    font-size: 24px;
    text-align: left;
}